[submodule "php_lithium/libraries/lithium"]
	path = php_lithium/libraries/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "php_lithium/app/libraries/li3_bot"]
	path = php_lithium/app/libraries/li3_bot
	url = https://github.com/UnionOfRAD/li3_bot.git
[submodule "php_lithium/app/libraries/li3_docs"]
	path = php_lithium/app/libraries/li3_docs
	url = git://github.com/UnionOfRAD/li3_docs.git
[submodule "php_lithium/libraries/caat"]
	path = php_lithium/libraries/caat
	url = git://github.com/hyperandroid/CAAT.git
[submodule "php_lithium/libraries/javascript-astar"]
	path = php_lithium/libraries/javascript-astar
	url = git://github.com/bgrins/javascript-astar.git
